
.box-container-account-menu {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  text-align: center;
  margin-right: 20px !important;
  padding: 4px 12px 0 9px;
  width: 100%;
}
  
  .typography {
    min-width: 100px;
  }
  
.avatar{
  width: 30px !important;
  height: 30px !important;
}


  